name: Tag

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**'
      - '!app/**'
      - '!*gradle*'

jobs:
  get-project-version:
    runs-on: ubuntu-latest
    outputs:
      project-version: ${{ steps.get-version.outputs.version }}
    steps:
      - id: checkout
        uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - id: get-version
        run: echo "version=$(./gradlew --no-daemon -q printVersionName)" >> "$GITHUB_OUTPUT"
  tag-new-version:
    needs: get-project-version
    uses: seamuslowry/workflows/.github/workflows/tag.yml@main
    with:
      custom-tag: ${{ needs.get-project-version.outputs.project-version }}
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
